<template>
    <img :src="src" :alt="alt">
</template>

<script>

    export default {
        name: "ImgCustom",
        props: {
            alt: {
                type: String
            },
            src: {
                type: String
            }
        }
    }


</script>

<style>

</style>