<template>
    <div>
        <h1>{{title}}</h1>
        <form action="">
            <p v-if="hidden_text" class="error">
                Вам меньше 18 лет. Покиньте сайт!
            </p>
            <p v-if="text_isnull" class="error">
                Введите возраст
            </p>
            <input type="text" placeholder="Введите имя" v-model="values.name" @change="change">
            <input type="number" placeholder="Введите ваш возраст" v-model="values.age" @change="change">
            <select v-model="values.option" @change="change">
                <option :value="index" v-for="(option, index) in options">{{option}}</option>
            </select>
            <input type="text" placeholder="Введите телефон" v-model="values.phone" @change="change">
            <input type="text" name="custom_email" placeholder="Введите Email" v-model="values.email" @change="change">
            <input type="password" name="custom_password" placeholder="Введите пароль" v-model="values.password" @change="change">
            <button @click="onSubmit">Отправить</button>
        </form>
    </div>
</template>
<script>
    export default {
        name: "Forms",
        props: {
            title: {
                default: "Начальный заголовок",
                type: String
            },
            options: {
                require: true,
                type: Array
            },
            hidden_text: {
                default: false,
                type: Boolean
            }
        },
        data(){

          return {
              values: {
                  name: "",
                  age: null,
                  option: "",
                  phone: "",
                  email: "",
                  password: ""
              },
              text_isnull: false,
              registration: false
          }

        },
        methods: {
            change(elem){
                this.$emit('change', this.values)
                console.log(elem.target)
                console.log(this.values.name)
            },
            onSubmit(elem){
                elem.preventDefault()
                // console.log(elem)

                if (this.values.age !== null && this.values.age >= 18){
                    this.$emit('submit')
                    console.log('submit', this.values)
                    this.hidden_text = false
                    this.text_isnull = false
                    this.registration = true
                }else if (this.values.age === null){
                    this.text_isnull = true
                }else{
                    this.hidden_text = true
                    this.text_isnull = false
                    this.registration = false
                }

            }
        }
    }
</script>
<style >
    *{
        box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100%;

    }
    form{
        width: 80%;
        margin: 0 auto;
    }
    select,
    input{
        width: 100%;
        float: left;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    button{
        background: red;
        border-radius: 10px;
        color: #fff;
        width: 100%;
        border: 0;
        font-family: "Roboto";
        padding: 10px;
    }
    .error{
        color: red;
    }
</style>