<template>
  <main>
    <div id="app">
      <p class="submit" v-if="submiting_text">Добро пожаловать, {{name}}</p>
      <Forms title="Заголовок формы 123" :options="options" :hidden_text="hidden_input" @change="onChange" @submit="onSubmit"/>
    </div>
  </main>
</template>
<script>
  //title="Заголовок формы"
  import HelloWorld from './components/HelloWorld.vue'
  import ImgCustom from './components/ImgCustom.vue'

  import Forms from './components/elements/Forms.vue'

  var src = "./assets/logo.png"

  export default {
    name: 'app',
    components: {
      Forms
    },
    data() {

        return {
            options: [
              "Value1",
              "Value2",
              "Value3",
              "Value4",
              "Value5"
            ],
            name: "",
            submiting_text: false,
            hidden_input: false,
            src_data: "./assets/logo.png"
        }

    },
      methods: {
          onChange(values){
              this.name = values.name
              console.log('AppComponent', values)
          },
          onSubmit(){
              this.submiting_text = true

          }
      }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  .submit{
    color: green
  }
</style>
